<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FleetManager.Data.Properties.Settings.FleetManagerConnectionString1"
            connectionString="Data Source=SHIRO\SQLSERVER;Initial Catalog=FleetManager;User ID=sa;Pooling=False;Asynchronous Processing=True;MultipleActiveResultSets=False;Application Name=FleetManager"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>