<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FleetManager.Data.Properties.Settings.FleetManagerConnectionString1"
            connectionString="Data Source=(local)\sqlexpress2014; Initial Catalog=FleetManager; Asynchronous Processing=True; MultipleActiveResultSets=false; Application Name=FleetManager; Pooling=false; User ID=sa; Password=test"
            providerName="System.Data.SqlClient" />
        <add name="FleetManager.Data.Properties.Settings.FleetManagerConnectionString"
            connectionString="Data Source=arhome-main\sqlexpress2014;Initial Catalog=FleetManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FleetManager.Data.Properties.Settings.FleetManagerConnectionString2"
            connectionString="Data Source=(local)\sqlexpress2014;Initial Catalog=FleetManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>