<?xml version="1.0"?>
  <connectionStrings>
    <add name="FleetManagerConnectionString" connectionString="Data Source=(local)\sqlexpress2014; Initial Catalog=FleetManager; Asynchronous Processing=True; MultipleActiveResultSets=false; Application Name=FleetManager; Pooling=false; User ID=sa; Password=test"
      providerName="System.Data.SqlClient" />
    <!--<add name="FleetManagerConnectionString1" connectionString="Data Source=DESKTOP-SN54OL9;Initial Catalog=FleetManager; Pooling=False;Asynchronous Processing=True;MultipleActiveResultSets=False;Application Name=FleetManager; Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>